@import "../../styles/colors.scss";

.bodyElementDetails {
  background-color: $background-color;
  flex-direction: row;
  padding: 1.5em 0 1.5em 0;

  .loader-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15rem;
  }

  .return-to-collection {
    width: 7em;

    a {
      margin: 2em;
    }
  }

  .container-left-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5em 0 2em;
    width: auto;
    height: auto;

    #image_produit {
      height: auto;
      width: auto;
      max-width: 65vw;
      max-height: 65vh;
    }
  }

  .div-container-left-plus-right {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0 0 2em 0;
  }
}

.details-list {
  display: flex;
  flex-direction: column;

  .description {
    max-width: 35rem;
  }

  #button_add_to_cart {
    margin: 0.25em 0 0 0;
    width: 50%;
  }

  #div-select_size_product {
    width: 50%;
    margin: 5em 0 0 0;
  }
}

.return {
  padding: 1em 0 0 2em;
}

img {
  border-radius: 30px;
}

@media (max-width: 1000px) {
  .bodyElementDetails {
    .div-container-left-plus-right {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;

      .details-list {
        padding: 0 0 2em 0;
      }
    }
  }
}

@media (max-width: 650px) {
  .bodyElementDetails {
    .div-container-left-plus-right {
      .details-list {
        padding: 0 0 2em 3em;
      }
    }
  }
}
