.div-input-register {
  display: flex;
  flex-direction: column;
  margin: 0 0 0.4em 0;
}
.div-input-register .div-error-message-register {
  display: flex;
  flex-direction: row;
  font-size: 0.9em;
  margin: 0.5em 0 0 0;
  align-items: center;
}
.div-input-register .div-error-message-register #icon-infos-error {
  margin: 0 0.5em 0 0;
  color: red;
}
.div-input-register .div-password {
  position: relative;
}
.div-input-register .div-password #icon-eye-see-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.body-element-register {
  padding: 2em 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f2f0ec;
}
.body-element-register p {
  padding: 0;
  margin: 0 0 0.5em 0;
}
.body-element-register input {
  margin: 0;
}
.body-element-register .btn-genre {
  padding: 0.7em;
  width: auto;
  margin: 1em 1em 2em 0;
}
.body-element-register .div-text-login {
  margin: 0 0 2em 0;
}
.body-element-register .div-label-register {
  display: flex;
  align-items: flex-start;
  justify-content: start;
}

.div-login-right {
  width: 50%;
  height: 100%;
}
.div-login-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 5px 0px;
}
@media (max-width: 1300px) {
  .div-login-right {
    display: none;
  }
}

.div-login-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-login-left .btn-google-login {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  width: 30%;
  margin: 1.75em 0 1.75em 0;
  color: #000;
}
@media (max-width: 1300px) {
  .div-login-left .btn-google-login {
    width: 60%;
  }
}
@media (min-width: 500px) and (max-width: 900px) {
  .div-login-left .btn-google-login {
    width: 70%;
  }
}
@media (min-width: 901px) and (max-width: 1300px) {
  .div-login-left .btn-google-login {
    width: 50%;
  }
}
@media (max-width: 499px) {
  .div-login-left {
    width: 100%;
  }
}
.div-login-left .div-connexion {
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.div-login-left .div-connexion label {
  text-align: start;
}
.div-login-left .div-connexion .div-password {
  position: relative;
}
.div-login-left .div-connexion .div-password .input-login {
  margin: 0;
}
.div-login-left .div-connexion .div-password #icon-eye-see-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.body-element {
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f2f0ec;
}
.body-element .div-login-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body-element .div-login-left .btn-google-login {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  width: 30%;
  margin: 1.75em 0 1.75em 0;
  color: #000;
}
@media (max-width: 1300px) {
  .body-element .div-login-left .btn-google-login {
    width: 60%;
  }
}
@media (min-width: 500px) and (max-width: 900px) {
  .body-element .div-login-left .btn-google-login {
    width: 70%;
  }
}
@media (min-width: 901px) and (max-width: 1300px) {
  .body-element .div-login-left .btn-google-login {
    width: 50%;
  }
}
@media (max-width: 499px) {
  .body-element .div-login-left {
    width: 100%;
  }
}
.body-element .div-login-left .div-connexion {
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.body-element .div-login-left .div-connexion label {
  text-align: start;
}
.body-element .div-login-left .div-connexion .div-password {
  position: relative;
}
.body-element .div-login-left .div-connexion .div-password .input-login {
  margin: 0;
}
.body-element .div-login-left .div-connexion .div-password #icon-eye-see-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.body-element .div-login-right {
  width: 50%;
  height: 100%;
}
.body-element .div-login-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 5px 0px;
}
@media (max-width: 1300px) {
  .body-element .div-login-right {
    display: none;
  }
}

.input-login {
  padding: 0.8em;
  margin: 0 0 1em 0;
  width: 300px;
  border: 2px solid #CFCFD0;
  border-radius: 5px;
}

.btn-login {
  width: 100%;
}

.icon-signIn {
  padding: 0 0 0 1em;
}

.btn-login:hover {
  background-color: #ded2b2;
  color: #000000;
}

.bold-text {
  font-weight: bold;
  margin: 0 0 0 0.5em;
}

.div-text-bold {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*# sourceMappingURL=Login.css.map */
