@import "../../styles/colors.scss";
@import "../Register/Register";

.body-element {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $background-color;
  .div-password{
    position: relative;
    .input-login{
      margin: 0;
    }
    #icon-eye-see-password{
      @include positioningEyeIcon();
    }
  }
}

.input-login {
  padding: 0.8em;
  margin: 0 0 1em 0;
  width: 300px;
  border-radius: 10px;
}

.btn-login {
  margin: 2em;
  width: 17%;
}

.icon-signIn {
  padding: 0 0 0 1em;
}

.btn-login:hover {
  background-color: #ded2b2;
  color: #000000;
}

.bold-text {
  font-weight: bold;
  margin: 0 0 0 0.5em;
}

.div-text-bold {
  display: flex;
  flex-direction: row;
  align-items: center;
}
