@import "../../styles/colors.scss";

@mixin positioningEyeIcon() {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.div-input-register{
  display: flex;
  flex-direction: column;
  margin: 0 0 0.40em 0;
  .div-error-message-register{
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
    margin: 0.5em 0 0 0;
    align-items: center;
    #icon-infos-error{
      margin: 0 0.5em 0 0;
      color: red;
    }
  }
  .div-password{
    position: relative;
    #icon-eye-see-password{
      @include positioningEyeIcon();
    }
  }
}

.body-element-register {
  padding: 2em 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $background-color;
  p{
    padding: 0;
    margin: 0 0 0.5em 0;
  }
  input{
    margin: 0;
  }
  .btn-genre {
    padding: 0.7em;
    width: auto;
    margin: 1em 1em 2em 0;
  }
  .div-text-login{
    margin: 0 0 2em 0;
  }
  .div-label-register{
    display: flex;
    align-items: flex-start;
    justify-content: start;
  }
}
