@import "../../styles/colors.scss";

.body-element-register {
  padding: 2em 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $background-color;
  .div-input-register{
    display: flex;
    flex-direction: column;
    margin: 0 0 0.40em 0;
    #label-mdp{
      margin: 0 0 0 3em;
    }
  }
  p{
    padding: 0;
    margin: 0 0 0.5em 0;
  }
  input{
    margin: 0;
  }
  .btn-genre {
    padding: 0.7em;
    width: auto;
    margin: 1em 1em 2em 0;
  }
  .div-text-login{
    margin: 0 0 2em 0;
  }
  .div-label-register{
    display: flex;
    align-items: flex-start;
    justify-content: start;
  }
}
