@import "../../styles/colors.scss";

.body-element-panier {
  padding: 5em;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
  .panier-check-out {
    position: sticky;
    padding: 0 0 0 5em;
  }
  .div-1-element-panier {
    display: flex;
    flex-direction: row;
    margin: 0 0 3em 0;
    border: 2px solid black;
    padding: 3em;
  }

  .div-1-element-panier > select {
    margin: 0 3em 0 1em;
  }

  .div-panier-vide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em;
  }
  .panier {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 2em 0;
    .div-main-code-promo{
      display: flex;
      align-items: center;
      margin: 1em 0 0 0;
      .div-code-promo-left {
        margin: 1em 0 0 0;
        max-width: 25em;
        :hover{
          cursor: pointer;
        }
        #span-code-promo {
          padding: 1em 1em 0 1em;
        }
      }
      .div-code-promo-right{
        max-height: 1em;
      }
    }


    #title-panier {
      padding: 0 0 0 1em;
    }
  }
  #btn-vider-panier {
    margin: 0 0 4em 0;
  }
  select {
    border-radius: 10px;
    padding: 0.5em;
  }
}

@media (max-width: 930px) {
  .body-element-panier {
    flex-direction: column;
    .panier-check-out {
      padding: 0;
    }
  }
}
