.panier {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.div-1-element-panier {
  display: flex;
  flex-direction: row;
  margin: 0 0 3em 0;
  border: 2px solid black;
  padding: 3em;
}

.div-1-element-panier > select {
  margin: 0 3em 0 1em;
}
