@import "../../styles/colors.scss";

.card-adresse-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid $color-border;
  margin: 1em 1em 2em 0;
  width: 25em;
  border-radius: 5px;
}

.container-left-adresses,
.container-right-adresses {
  display: flex;
  flex-direction: column;
  margin: 0.8em;
  #btn-modifer-adresse {
    padding: 0.5em;
    margin: 0.75em 0 0;
  }
  h4 {
    margin: 0.25em 0 0 0;
  }
  .div-ville-cp {
    display: flex;
    flex-direction: row;
  }
}
