@import "../../styles/colors.scss";

.div-text-aPropos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: $cornsilk;
  padding: 3em;
  font-size: clamp(16px, 5vw, 24px);
  font-weight: 400;
  .a-propos-texte {
    margin: 0 0 0 3em;
  }
  .a-propos-div-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  .div-text-aPropos {
    flex-direction: column;
  }
}
