@import "../../styles/colors.scss";
@import "../../styles/index.scss";

.body-page-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: $background-color;
  padding: 0 0 2.5em 0;
  font-size: clamp(16px, 5vw, 24px);
  .input-contact {
    display: flex;
    flex-direction: column;
  }

  .input-contact > input {
    padding: 0.8em;
    width: 30em;
    border-radius: 10px;
    margin: 0 0 2em 0;
  }
  textarea {
    border-radius: 10px;
    height: 25vh;
    padding: 0.5em;
    font-family: "Helvetica Neue";
    font-weight: 500;
    font-size: 1em;
  }
  .images {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1100px) {
  .body-page-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
}
