.main-panier-page {
  display: flex;
  flex-direction: row;
  margin: 0 0 1em 0;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1em 1em 0;
  min-width: 35em;
  max-width: 35em;
  .custom-size {
    font-size: 1.5em; /* Adjust the size as needed */
  }
  img {
    border-radius: 5px;
  }
  .name-element {
    max-width: 20em;
    min-width: 14em;
    margin: 0 2em 0 0;
  }
  select {
    margin: 0 1em 0 1em;
  }
}

@media (max-width: 930px) {
  .name-element {
    display: flex;
    align-items: start;
  }
}
