@import "../../styles/colors.scss";
@import "../../styles/index.scss";

.div-main-page-adresses {
  display: flex;
  flex-direction: row;
  background-color: $background-color;
  .div-adresses {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3em 0 3em 0;
    #btn-add-adresse {
      padding: 0.7em;
    }
  }
}
