@import "../../styles/colors.scss";
@import "../../styles/index.scss";

.div-main-page-adresses {
  display: flex;
  flex-direction: row;
  background-color: $background-color;
 .div-container-right{
   button{
     padding: 0.5em;
   }
 }
}
