@import "../../styles/colors.scss";

.body-page-favoris {
  display: flex;
  flex-direction: row;
  background-color: $background-color;
  @media (max-width: 1300px) {
    flex-direction: column;
  }
}

.container-right-favoris {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @media (max-width: 1300px){
    align-items: center;
    justify-content: center;
  }
}
