@import "../../styles/colors.scss";
@import "../Register/Register";

.body-page-addAdresse {
  display: flex;
  flex-direction: row;
  background-color: $background-color;
  .formulaire-ajout-adresse{
    margin: 0 0 3em 0;
  }
}

.formulaire-en-colonne {
  display: flex;
  flex-direction: column;
  .div-error-message-register{
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
    margin: 0.5em 0 0 0;
    align-items: center;
    #icon-infos-error{
      margin: 0 0.5em 0 0;
      color: red;
    }
  }
  input{
    margin: 0 0 0.40em 0;
  }
}

#form1 {
  margin: 2em 0 2em;
}
