@import "../../styles/colors.scss";
@import "../../styles/index.scss";

.lmj-shopping-list {
  background-color: #f2f0ec;
  width: 100%;
  .categories-and-filtre-and-trie {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0 0 2em;
    a {
      margin: 0 2em 0 2em;
      font-size: 1.25rem;
      transition: 0.25s ease-in-out;
      &:hover {
        border-bottom: 2px solid black;
        cursor: pointer;
      }
    }
  }
  .hr-collections {
    border-style: solid; /* Style de la ligne */
  }
}

.lmj-plant-list {
  list-style-type: none;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

#btn-ajouter {
  margin: 0 0 0 0.7em;
}

#btn-details-plant {
  margin: 0 0 0 1em;
}
