@import "../../styles/colors.scss";

.div-commande {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid black;
  margin: 1em 1em 2em 1em;
  width: 35em;
  border-radius: 11px;
}

.container-left,
.container-right {
  display: flex;
  flex-direction: column;
  h4 {
    margin: 0 0 0.5em 0;
  }
  img {
    border-radius: 9px 0 0 9px;
  }
}
.container-right {
  margin: 0 0 0 3em;
}
