@import "../../styles/colors.scss";

.div-commande {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid $color-border;
  margin: 1em 1em 1em 1em;
  width: 100%;
  border-radius: 11px;
}

.div-status-commande{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 0.5em 0;
  p{
    border-radius: 5px;
    padding: 0.25em;
    margin: 0;
  }
}

.container-left,
.container-right {
  display: flex;
  flex-direction: column;
  h4 {
    margin: 0 0 0.5em 0;
  }
  img {
    border-radius: 9px 0 0 9px;
    height: 100%;
    object-fit: cover;
  }
}
.container-right {
  margin: 0 0 0 3em;
}
