@import "../../styles/colors.scss";

.lmj-banner {
  background-color: #f2f0ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  padding: 0 0 2em 0;
  h2 {
    margin: 1em 0 0.05em 0;
  }
  .banner-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    #icon-menu-mobile {
      display: none;
      @media (max-width: 1330px) {
        display: block;
      }
    }
  }

  .second-barre-banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @media (max-width: 1330px) {
      display: none;
    }
    .icon-socials-banner {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 5em 1em 0;
      .iconSocial:hover {
        cursor: pointer;
      }
    }
    .icon-header {
      padding: 0 0 0 5em;
      position: relative;
      .span-nb-articles {
        background-color: #f73f24;
        color: white;
        border-radius: 10em;
        padding: 1px 6px;
        position: absolute;
        top: 45%;
        right: -1%;
      }
    }
  }
}

.mobile-banner{
    display: none;
    position: relative;
    transform: translate(-100%);
    @media (max-width: 1330px){
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #bc6c25;
        height: 100%;
        width: 100%;
        position: fixed;
        transform: translate(-100%);
        z-index: 1;
        transition: all 0.5s;
    }
  #menu-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
    .div-mobile-liens-page-banner{
      display: flex;
      flex-direction: column;
      margin: 2em 0 2em 0;
      text-align: center;
      a{
        margin: 0.5em;
      }
    }
  .icon-header-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-socials-banner-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  }

.lmj-title {
  padding-left: 32px;
  font-size: 1.25rem;
}

#icone_panier {
  margin: 0 0 0 1em;
}
#icon-user-a:hover {
  cursor: pointer;
}
