@import "../../styles/colors.scss";

.lmj-banner {
  background-color: #f2f0ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1;
  padding: 0 0 2em 0;
  h2 {
    margin: 1em 0 0.05em 0;
  }
  .second-barre-banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .icon-socials-banner {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 5em 1em 0;
      .iconSocial:hover {
        cursor: pointer;
      }
    }
    .icon-header {
      padding: 0 0 0 5em;
      position: relative;
      .span-nb-articles {
        background-color: #f73f24;
        color: white;
        border-radius: 10em;
        padding: 1px 6px;
        position: absolute;
        top: 45%;
        right: -1%;
      }
    }
  }
}

.lmj-title {
  padding-left: 32px;
  font-size: 1.25rem;
}

#icone_panier {
  margin: 0 0 0 1em;
}
#icon-user-a:hover {
  cursor: pointer;
}
