.lmj-banner {
  background-color: #f2f0ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 2em 0;
  position: relative;
  z-index: 1;
}
.lmj-banner h2 {
  margin: 1em 0 0.05em 0;
}
.lmj-banner .banner-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .lmj-banner .banner-mobile #banner-title {
    position: relative;
    right: 30vw;
  }
}
@media (max-width: 500px) {
  .lmj-banner .banner-mobile #banner-title {
    width: 2em;
  }
}
.lmj-banner .banner-mobile #icon-menu-mobile {
  display: none;
}
@media (max-width: 900px) {
  .lmj-banner .banner-mobile #icon-menu-mobile {
    display: block;
    position: relative;
    top: 1vh;
    left: 30vw;
  }
}
.lmj-banner .second-barre-banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.lmj-banner .second-barre-banner .div-liens-pc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0;
}
.lmj-banner .second-barre-banner .div-liens-pc .lmj-title::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background-color: #4C6945;
  transition: width 0.3s ease-in-out;
}
.lmj-banner .second-barre-banner .div-liens-pc .lmj-title:hover::after {
  width: 100%;
}
@media (max-width: 900px) {
  .lmj-banner .second-barre-banner {
    display: none;
  }
}
.lmj-banner .second-barre-banner .icon-socials-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5em 1em 0;
}
.lmj-banner .second-barre-banner .icon-socials-banner .iconSocial:hover {
  cursor: pointer;
}
@media (max-width: 1330px) {
  .lmj-banner .second-barre-banner .icon-socials-banner {
    display: none;
  }
}
.lmj-banner .second-barre-banner .icon-header {
  padding: 0 0 0 0.2em;
  position: relative;
}
.lmj-banner .second-barre-banner .icon-header .span-nb-articles {
  background-color: #DDD1B1;
  color: #000000;
  border-radius: 10em;
  padding: 1px 6px;
  position: absolute;
  top: -40%;
  right: -20%;
}

.mobile-banner {
  display: none;
  position: relative;
  transform: translate(-100%);
}
@media (max-width: 1330px) {
  .mobile-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bc6c25;
    height: 100%;
    width: 100%;
    position: fixed;
    transform: translate(-100%);
    z-index: 1;
    transition: all 0.5s;
  }
}
.mobile-banner #menu-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mobile-banner .div-mobile-liens-page-banner {
  display: flex;
  flex-direction: column;
  margin: 2em 1.25em 2em 0;
  text-align: center;
}
.mobile-banner .div-mobile-liens-page-banner a {
  margin: 0.5em;
}
.mobile-banner .icon-header-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-banner .icon-socials-banner-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.25em 0 0;
}

.lmj-title {
  padding-left: 32px;
  font-size: 1.25rem;
  cursor: pointer;
}

#icone_panier {
  margin: 0 0 0 1em;
}

#icon-user-a {
  cursor: pointer;
}

.name-under-basket-icon-navbar {
  font-size: 0.8em;
  padding: 0;
  margin: 0.3em 0 0 3em;
  align-items: center;
}

.div-icon-login-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 0 0 5em;
}
.div-icon-login-navbar .name-under-login-icon-navbar {
  font-size: 0.8em;
  padding: 0;
  margin: 0.3em 0 0 0;
  text-align: center;
}

.div-icon-basket-navbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*# sourceMappingURL=Banner.css.map */
